<div class="megamenu-container">
    <h6>Sản phẩm</h6>
    <ul class="megamenu-list">
        <li><a routerLink="/pet-care/products/dog-food">Thức ăn cho Chó</a></li>
        <li><a routerLink="/pet-care/products/cat-food">Thức ăn cho Mèo</a></li>
        <li><a routerLink="/pet-care/products/equipment">Thiết bị & Phụ kiện</a></li>
        <li><a routerLink="/pet-care/products/toys">Đồ chơi</a></li>
    </ul>
</div>
<hr>
<ng-container *ngIf="products$ | async as products">
    <h2>{{ getFriendlyCategoryName(currentCategory) }}</h2>

    <div *ngIf="products.length > 0; else noProducts">
        <ul class="product-list"> <li *ngFor="let product of products">
                <div class="product-item">
                    <div class="product-image">
                        <img [src]="product.imageUrl" [alt]="product.name">
                    </div>

                    <div class="product-details">
                        <h3>{{ product.name }}</h3>
                        <p class="product-price">Giá: {{ product.price | currency:'VND':'symbol':'1.0-0' }}</p>
                        </div>

                    <div class="add-to-cart-button-container">
                         <button (click)="addToCart(product)">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <ng-template #noProducts>
        <p>Không tìm thấy sản phẩm nào trong danh mục này.</p>
    </ng-template>
</ng-container>