<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <form (submit)="login()">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" autocomplete="off" name="username" placeholder="Email or Phone" id="username" [ngModelOptions]="{standalone: true}">

        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" autocomplete="off" placeholder="Password" id="password" [ngModelOptions]="{standalone: true}">

        <button type="submit">Đăng nhập</button>
        <p class="social-text">Login with a social media account</p>

        <div class="social-icons">

            <button class="social-icon fb"><i class="fab fa-facebook-f"></i></button>
            <button class="social-icon tw"><i class="fab fa-google"></i></button>
            <button class="social-icon in"><i class="fab fa-instagram"></i></button>

        </div>
    </form>
</body>

</html>